$ORIGIN .
$TTL 604800	; 1 week
{{ domain }}	IN SOA	{{ ansible_fqdn }}. admin.{{ domain }}. (
				{{ timestamp.stdout }}	; Serial
				604800     ; Refresh (1 week)
				86400      ; Retry (1 day)
				2419200    ; Expire (4 weeks)
				604800     ; Minimum (1 week)
				)
        	    NS	{{ ansible_fqdn }}.

$ORIGIN {{ domain }}.
$TTL 300	; 5 minutes
$TTL 604800	; 1 week

vm-backend	A {{ ansible_host}}
client-1	A	192.168.56.11
client-2	A	192.168.56.12
client-3	A	192.168.56.13
client-4	A	192.168.56.14
client-5	A	192.168.56.15
dot-server	A	192.168.56.3
doh-server	A	192.168.56.4
dnsproxy-server	A	192.168.56.5
do53-server	A	192.168.56.6

{% for num_domain in range(0,250) %}
{%   for num_host in range(1,250) %}
host{{ num_host }}.domain{{ num_domain }}   A   172.16.{{ num_domain }}.{{ num_host }}
{%   endfor %}
{% endfor %} 