$ORIGIN .
$TTL 300	; 5 minutes
{{ rev_domain }}	IN SOA	{{ ansible_fqdn }}. admin.{{ domain }}. (
				{{ timestamp.stdout }}          ; serial
				300     ; refresh (5 minutes)
				300      ; retry (5 minutes)
				300    ; expire (5 minutes)
				300     ; minimum (5 minutes)
				)
			NS	{{ ansible_fqdn }}.
$ORIGIN {{ rev_domain }}.
$TTL 300	; 5 minutes
{% for num_domain in range(0,250) %}
{%   for num_host in range(1,250) %}
{{ num_domain }}.{{ num_host }}   PTR   {{ rev_domain }}
{%   endfor %}
{% endfor %}