tls local-tls {
	key-file "/etc/pki/tls/private/rsx218-dox.key";
	cert-file "/etc/pki/tls/private/rsx218-dox.crt";
};

options {
    directory "/var/opt/isc/scls/isc-bind/named/data";
	listen-on port 443 tls local-tls http default { 127.0.0.1; {{ ansible_ens6.ipv4.address }}; };
#	listen-on-v6 port 53 { ::1; };
	allow-query     { any; };
	recursion yes;
	empty-zones-enable yes;
	forwarders {
		192.168.56.2 port 453;
	};
	forward only;
	dnssec-validation no;
	tcp-clients 1000000;
	tcp-idle-timeout 10;

};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

logging {
        channel default_debug {
                file "named.run";
				print-time yes;
                severity dynamic;
        };
};


